.terraform/
backend.tf.off
backend.local.tf
*.tfstate
*.tfstate.*
*.tfstate.backup
errored.tfstate
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
*.plan.json
plan.json
